@import "../abstracts/mixins";
@import "../abstracts/variables";

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/

// Font Family
$font-family-cinzel: 'Cinzel', serif;

// Base Font For HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : $lightTextColor;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : $lightTextColor;
$header-size       : rem(40px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

h1, h2, h3, h4, h5, h6 {
    color: $header-color;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-family-cinzel;
}

