.preloader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(16, 15, 11, 1);
    z-index: 1000000;
  }
  
  .preloader .counter {
    position: relative;
    color: #846f5c;
    font-size: 16em;
    font-weight: 700;
    z-index: 1;
  }
  
  .preloader .counter:after {
    content: '%';
    font-size: 0.5em;
  }
  
  .hide {
    opacity: 0;
    transition: .8s;
    pointer-events: none;
  }
  
  .preloader.active {
    transform: translateY(-100vh);
    transition: ease-in-out 800ms;
    transition-delay: .8s;
  }

@media (max-width:520px) {
  .preloader .counter {
    font-size: 9em;
  }
}