.preloader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #100F0B;
    z-index: 1000000;
  }
  
  .preloader:before {
    content: 'Loading';
    position: absolute;
    font-size: 12em;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(16,15,11,0.03);
  }
  
  .preloader .counter {
    position: relative;
    color: #846f5c;
    font-size: 16em;
    font-weight: 700;
    z-index: 1;
  }
  
  .preloader .counter:after {
    content: '%';
    font-size: 0.5em;
  }
  
  .hide {
    opacity: 0;
    transition: 1s;
    pointer-events: none;
  }
  
  .preloader.active {
    transform: translateY(-100vh);
    transition: ease-in-out 1000ms;
    transition-delay: 1s;
  }