// Basic Grid Elements

.container {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center
}
  
.column {
    flex-basis: 100%;
    padding: 15px;
    background: $background;;
}

.wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Width & Height 

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.h-100 {
    height: 100vh;
  }

.w-25 {
    width: 25%;
}

.h-25 {
    height: 25%;
}

// Centering

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article,
aside {
    flex-basis: 100%;
}

.mb-2 {
    margin-bottom: 20px;
}

.mrl-10 {
    margin: 0 10px 0 10px;
}