@import "../abstracts/variables";

html, body {
    height: 100%;
    margin: 0;
 }

main {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

