@media screen and (min-width:320px) and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .img-responsive {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {

    .column {
      flex: 1;
    }

    ._25 {
        flex: 2.5;
    }

    ._55 {
        flex: 5.5;
    }

    ._20 {
        flex: 2;
    }

    aside {
        flex: 2.5;
    }
    
    article {
        flex: 7.5;
    }
  }

  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }