html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Black.ttf") format("truetype");
  font-weight: bolder; }

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', sans-serif;
  color: #EAF2F2;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem; }

a {
  color: #BFBCAA; }

.transparent {
  color: transparent !important; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #EAF2F2; }

.container {
  max-width: 100%; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.column {
  flex-basis: 100%;
  padding: 15px;
  background: #131313; }

.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.h-50 {
  height: 50%; }

.h-100 {
  height: 100vh; }

.w-25 {
  width: 25%; }

.h-25 {
  height: 25%; }

.text-center {
  text-align: center; }

.justify-center {
  justify-content: center; }

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

article,
aside {
  flex-basis: 100%; }

.mb-2 {
  margin-bottom: 20px; }

.mrl-10 {
  margin: 0 10px 0 10px; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .row {
    flex-direction: column; }
  .column-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  h1 {
    font-size: 2.1rem; }
  h2 {
    font-size: 1.8rem; }
  .img-responsive {
    width: 100%; }
  .column-centered {
    padding: 0 5% 0 5%; }
  .img {
    width: 100%; } }

@media screen and (min-width: 800px) {
  .column {
    flex: 1; }
  ._25 {
    flex: 2.5; }
  ._55 {
    flex: 5.5; }
  ._20 {
    flex: 2; }
  aside {
    flex: 2.5; }
  article {
    flex: 7.5; }
  .column-centered {
    padding: 0 25% 0 25%; }
  .img {
    width: 75%; } }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

html, body {
  background: #131313;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.highlight {
  color: #BFBCAA;
  font-weight: bold; }

.img {
  height: auto; }

.inline {
  display: inline-block; }
