html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Cinzel';
  src: url("/assets/fonts/Cinzel-Black.ttf") format("truetype");
  font-weight: bolder; }

body, html {
  font-family: 'Cinzel', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', sans-serif;
  color: #EAF2F2;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem; }

a {
  color: transparent; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #131313;
  /* Black fallback color */
  background-color: #131313;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: 'Cinzel', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 48px;
  color: #EAF2F2;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 60px; }

.menu span {
  color: #EAF2F2; }

.menu-bars {
  display: block; }

.menu-bars {
  display: block;
  background: #f1f1f1;
  color: #f1f1f1;
  height: 5px;
  margin-bottom: 5px; }

.menu-bars:hover {
  cursor: pointer; }

.one {
  width: 45px; }

.two {
  width: 35px; }

.three {
  width: 25px; }

.container {
  max-width: 100%; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.column {
  flex-basis: 100%;
  padding: 15px;
  background: #131313; }

.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.w-50 {
  width: 50%; }

.h-50 {
  height: 50%; }

.w-25 {
  width: 25%; }

.h-25 {
  height: 25%; }

.text-center {
  text-align: center; }

.justify-center {
  justify-content: center; }

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

article,
aside {
  flex-basis: 100%; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .row {
    flex-direction: column; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.2rem; }
  .img-responsive {
    width: 100%; } }

@media screen and (min-width: 800px) {
  .column {
    flex: 1; }
  ._25 {
    flex: 2.5; }
  ._55 {
    flex: 5.5; }
  ._20 {
    flex: 2; }
  aside {
    flex: 2.5; }
  article {
    flex: 7.5; } }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

html, body {
  background: #131313;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.highlight {
  color: #BFBCAA; }

.img-responsive {
  width: 75%;
  height: auto; }
