html, body {
    background: $background;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight {
    color: $highlight;
}

.img-responsive {
    width: 75%;
    height: auto;
}

